body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/studen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: #ffffff;
}

.container {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/images/studen.jpg");
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    display: flex;
    justify-content: space-around;
    border: 2px solid black;
    border-radius: 8px;
}

.nav-button {
    background-color: darkmagenta;
    color: #ffffff;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}

.nav-button:hover {
    background-color: midnightblue;
}

.student-container {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.student-info, .achievements-container {
    background-color: rgba(0, 0, 0, 0.6); /* Ajustar la opacidad del fondo para hacerlo un poco más claro */
    color: #ffffff;
    padding: 30px; /* Aumentar el espacio interno del contenedor */
    border-radius: 30px;
    width: 45%;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar el contenido verticalmente */
    justify-content: center; /* Centrar el contenido horizontalmente */
}

.avatar-container {
    background-color: #388E3C;
    border-radius: 50%;
    width: 200px; /* Aumentar el tamaño del contenedor del avatar */
    height: 200px; /* Aumentar el tamaño del contenedor del avatar */
    overflow: hidden;
    margin-bottom: 20px; /* Espaciado entre el avatar y el contenido */
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.student-info {
    /* ... (otros estilos) ... */
    margin: 0 20px; /* Espaciado de 20px en los lados del contenedor .student-info */
    margin-top: 80px;
}

.achievements-container {
    /* ... (otros estilos) ... */
    margin: 0 20px; /* Espaciado de 20px en los lados del contenedor .achievements-container */
    margin-top: 80px;
}

